<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/homepage.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
    <title>Your motivation</title>
</head>
<body>
    <section id="ques-area">
        <div class="ques">
            <form action="#">
                <h3>
                    1. What are your goals you hope to acheive after this course?
                </h3>
                <textarea name="ans-1" id="ans-1" cols="20" rows="10" placeholder="Enter your answer"></textarea>
                <h3>
                    2. Why do you want to acheive this goal?
                </h3>
                <textarea name="ans-2" id="ans-2" cols="20" rows="10" placeholder="Enter your answer"></textarea>
            </form>
        </div>
    </section> 
    <a href="/compiler">
        <button>Compiler</button>
    </a>   
</body>

</html>
